.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
}

h2 {
  font-weight: bold;
  color: #333;
}

textarea {
  resize: none;
}
