<div class="container my-5">
  <h2 class="text-center mb-4">Checkout</h2>

  <form #checkoutForm="ngForm" (ngSubmit)="placeOrder(checkoutForm)">
    <div class="row">
      <!-- Shipping Info -->
      <div class="col-md-6">
        <h4>Shipping Details</h4>

        <div class="mb-3">
          <label class="form-label">Full Name</label>
          <input
            type="text"
            class="form-control"
            name="fullName"
            disabled="true"
            required
            [(ngModel)]="fullName"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            name="customerEmail"
            required
            [(ngModel)]="customerEmail"
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Address</label>
          <textarea
            class="form-control"
            rows="3"
            name="address"
            required
            [(ngModel)]="address"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">Mobile Number</label>
          <input
            type="text"
            class="form-control"
            name="mobile"
            required
            [(ngModel)]="mobile"
          />
        </div>
      </div>

      <!-- Order Summary -->
      <div class="col-md-6">
        <h4>Order Summary</h4>
        <div class="border p-3 rounded shadow-sm">
          <div *ngFor="let item of cartItems" class="d-flex justify-content-between mb-2">
            <div>
              {{ item.productName }} <small>x{{ item.quantity }}</small>
            </div>
            <div>₹{{ item.productPrice * item.quantity }}</div>
          </div>

          <hr />
          <div class="mb-2 d-flex justify-content-between">
            <strong>Subtotal</strong>
            <span>₹{{ getTotalAmount() + discount }}</span>
          </div>
          <div *ngIf="discount > 0" class="mb-2 d-flex justify-content-between text-success">
            <strong>Promo Discount</strong>
            <span>-₹{{ discount }}</span>
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <strong>Total</strong>
            <span>₹{{ getTotalAmount() }}</span>
          </div>

          <!-- Promo Code Input -->
          <div class="input-group mb-3" style="display: none;">
            <input
              type="text"
              class="form-control"
              placeholder="Promo Code"
              [(ngModel)]="promoCode"
              name="promoCode"
            />
            <button type="button" class="btn btn-outline-secondary" (click)="applyPromoCode()">
              Apply
            </button>
          </div>

          <button type="submit" class="btn btn-primary w-100">Place Order</button>
        </div>
      </div>
    </div>
  </form>
</div>
