<div class="container">
    <h2>Components</h2>
    <mat-divider></mat-divider>
    <div class="content">
        <div class="row">
            <div class="col-2">
                <mat-card>
                    <mat-icon>smart_button                  
                    </mat-icon>
                    Buttons
                </mat-card>                
            </div>
            <div class="col-2">
                <mat-card>
                    <mat-icon>smart_button                  
                    </mat-icon>
                    Buttons
                </mat-card>                
            </div>
            <div class="col-2">
                <mat-card>
                    <mat-icon>smart_button                  
                    </mat-icon>
                    Buttons
                </mat-card>                
            </div>
            <div class="col-2">
                <mat-card>
                    <mat-icon>smart_button                  
                    </mat-icon>
                    Buttons
                </mat-card>                
            </div>
            <div class="col-2">
                <mat-card>
                    <mat-icon>smart_button                  
                    </mat-icon>
                    Buttons
                </mat-card>                
            </div>
            <div class="col-2">
                <mat-card>
                    <mat-slider min="1" max="100" step="1" value="50"></mat-slider>   
                </mat-card>                
            </div>
        </div>
    </div>
</div>

<!-- <mat-slider>
    <input matSliderThumb>
  </mat-slider> -->


  