.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

.register-card {
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-color: white;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.center-text {
  text-align: center;
}
